name: License check

on:
  workflow_dispatch:

jobs:
  #   license_check_server:
  #     runs-on: ubuntu-latest
  #     steps:
  #       - name: Checkout the code
  #         uses: actions/checkout@v3
  #         with:
  #           fetch-depth: 0
  #       - name: Setup Python
  #         uses: actions/setup-python@v2
  #         with:
  #           python-version: "3.10.6"
  #       - name: Get explicit and transitive dependencies
  #         run: |
  #           pip install -r convertPheno_server/requirements.txt
  #           pip freeze > requirements-all.txt
  #       - name: Check python
  #         id: license_check_report
  #         uses: pilosus/action-pip-license-checker@v2
  #         with:
  #           requirements: "requirements-all.txt"
  #           fail: "Copyleft"
  #           exclude: "(?i)^(pylint|aio[-_]*).*"
  #       - name: Print report
  #         if: ${{ always() }}
  #         run: echo "${{ steps.license_check_report.outputs.report }}"
  licenses:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - run: cd convertPheno_client && npm install --legacy-peer-deps
      - name: Check licenses
        uses: hearthsim/action-npm-permissive-license-checker@v2
        with:
          production-only: true
          exclude-private-packages: true
